<div *ngIf="item" class="container text-center  mt-5" >
    <div class="row mt-5">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 border mt-5 p-5">
            <h4 class="mt-2 mb-2 ">
                Are you sure, do you want to delete this account ?
            </h4>
            <button (click)="deleteAcc()" class="btn btn-danger">Yes <i class="fa fa-trash"></i></button>&nbsp;&nbsp;
            <button (click)="cancel()" class="btn btn-success">No <i class="fa fa-close"></i></button>
        </div>
        <div class="col-lg-4"></div>
    </div>
   
</div>